
<header>
    <div class="header-title"><a href='{{ relref . "/" }}'>Thomas E. J. Moxham</a></div>
    <div class="header-links">
        <ul>
            <li><a href='{{ relref . "about" }}'>About</a></li>
            <li><a href="#">CV</a></li>
            <li><a href='{{ relref . "research" }}'>Research</a></li>
            <li><a href='{{ relref . "courses" }}'>Courses</a></li>
            <li><a href="./posts/">Posts</a></li>
            <li><a href='{{ relref . "contact" }}'>Contact</a></li>
        </ul>
    </div>
</header>